body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mapid {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.title-container {
  width: auto;
  height: auto;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  line-height: 1px;
  text-align: center;
  border: solid white 1.5px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.legend, .temporal-legend {
  padding: 6px 10px;
  font: 12px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#legendTitle {
  text-align: center;
  margin-bottom: 15px;
  font-variant: small-caps;
}

.symbolsContainer {
  float: left;
  margin-left: 50px;
}

.legendCircle {
  border-radius: 50%;
  border: 1px solid #537898;
  background: rgba(113,133,152,0.6);
    display: inline-block;
}

.legendValue {
  position: absolute;
  right: 200px;
  padding-bottom: 10px;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: #100e17;
    color: white;
    padding: 5px;
}

